

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>users!</h1>
    <% User.all do |user| %>
    <%= user.name %>
    <% end %>
  </body>
</html>
